<div class="forgot-password-content login-margin">
    <h4>Find your CD Asia Online account</h4>
    <hr/>
    <p>We need information to find your account.</p>
    <form action="#">
        <div class="row">
            <div class="col-lg-6">
                <label>Enter vour email, or username here*</label>
                <input type="text" class="forgot-login-input"/>
                <input class="forgot-login-sub" type="submit" value="sign up" />
            </div>
            
        </div>
    </form>
   	
</div>