<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
<!-- <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol> -->
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">

        <div class="jumbotron vertical-center">
            <div class="container">
                <h1 class="display-4 text-margin">Jurisprudence</h1>
                <p class="lead text-margin">
                Decisions of the Supreme
                Court from 1901 to the
                present
                </p>
            </div>
        </div>
        </div>

        <div class="item">
            <div class="jumbotron vertical-center">
                <div class="container">
                    <h1 class="display-4 text-margin">Laws</h1>
                    <p class="lead text-margin">
                    Philippine Constitution, Legislative Enactments,
                    Presidential Issuances, Supreme Court Issuances,
                    Implementing Rules and Regulations, Treaties and
                    International Agreements
                    </p>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="jumbotron vertical-center">
                <div class="container">
                    <h1 class="display-4 text-margin">Department of Justice Issuances</h1>
                    <p class="lead text-margin">
                    Opinions of the Secretary of Justice from 1939 to the
                    present, Circulars and Advisory Opinions of the
                    Department of Justice</p>
                </div>
            </div>
        </div>


        <div class="item">
            <div class="jumbotron vertical-center">
                <div class="container">
                    <h1 class="display-4 text-margin">Taxation</h1>
                    <p class="lead text-margin">
                    Issuances of the Bureau of Internal Revenue
                    (BIR), International Tax treaties, taxation-related
                    issuances of the Department of Finance (DOF)
                    and other agencies
                    </p>
                </div>
            </div>
        </div>

    </div>
    <!-- Carousel nav 
    <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a> -->
</div>
<%= render(FormLoginComponent.new()) %>
