                        <div class="login-content">
							<h3 class="login-title text-center">Welcome to</h3>
							<h2 class="text-center">CD Asia <span class="span-custom">Online</span></h2> 
							
							<form action="#">
								<input placeholder="Username" type="text" />
								<input placeholder="Password" type="password" />

								<div class="login-lost">
									
									<span class="forgot-login">
										<%= link_to "Forgot your password?", new_project_path %>
									</span>
									
								</div>
								
									<input class="login-sub" type="submit" value="Login" />
								
							</form>
						</div>