
<footer>

<!-- footer-top-area start -->
<div class="footer-top-area">
  <div class="container">
    <div class="row">
      <!-- footer-widget start -->
      <div class="col-lg-4 col-md-3 col-sm-4">
        <div class="footer-widget">
          <h3>Head Office</h3>
          <ul class="footer-contact">
            <li>
              10 San Roque St., Brgy. Kapitolyo, Pasig City 1603
            </li>
            
            <li>
              Tel. No.: 6347141 to 42
            </li>

            <li>
              Telefax No.: (632) 6347140
            </li>

            <li>
              E-mail: cdasia_mla@cdaisa.com
            </li>
          </ul>
        </div>
      </div>
      <!-- footer-widget end -->
      <!-- footer-widget start -->
      <div class="col-lg-4 col-md-3 hidden-sm">
        <div class="footer-widget">
          <h3>Cebu Branch</h3>
            <ul class="footer-contact">
              <li>
              The Executive Floor, Philippines Veterans Bank
              Bank Bldg., Osmeña Blvd., Cebu City 6000
              </li>
              
              <li>
              Tel. No.: (032) 412-3636 loc. 840
              
              </li>

              <li>
                Mobile No.: 0920-9618393
              </li>

              <li>
                 E-mail: cdasia_mla@cdaisa.com
              </li>
            </ul>
        </div>
      </div>
      <!-- footer-widget end -->
      <!-- footer-widget start -->
      <div class="col-lg-4 col-md-3 col-sm-4">
        <div class="footer-widget">
          <h3>Davao Branch</h3>
            <ul class="footer-contact">
              <li>
              Unit C-4, 3F Marcela Building
              11-A Jose Palma Gil St., Davao City
              8000
              </li>
              
              <li>
              Tel. No.: (082) 297-8684
              </li>

              <li>
              Mobile No.: 0920-9618402
              </li>

              <li>
              E-mail: cdasia_mla@cdaisa.com
              </li>
            </ul>
        </div>
      </div>
      <!-- footer-widget end -->
      
    </div>
  </div>
</div>
<!-- footer-top-area end -->

</footer>
